<div class="text-center">
    <h1>Info Proyecto</h1>
    <p>Se muestran todas las configuraciones del proyecto.</p>
</div>
<div class="container">
    <p><span>PUERTO:</span> {{info.port}}</p>
    <p><span>EMAIL ADMIN:</span> {{info.emailAdmin}}</p>
    <p><span>ARGS:</span> {{info.args}}</p>
    <p><span>SIST.OPERATIVO :</span> {{info.sistOperativo}}</p>
    <p><span>VERSION NODE:</span> {{info.versionNode}}</p>
    <p><span>MEMORIA TOTAL: </span>{{info.memoriaTotal}}</p>
    <p><span>PATH:</span> {{info.path}}</p>
    <p><span>PROCESS ID: </span>{{info.processId}}</p>
    <p><span>CARPETA PROYECTO:</span> {{info.carpetaProyecto}}</p>
    <p><span>NUM CPU'S: </span>{{info.numCPUs}}</p>
</div>

<style>
    span{
        font-weight: bold;
    }
</style>