<div class="title_box">
    <h1>Ordenes</h1>
</div>

{{#if error}}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{{/if}}

<div class="container box">
    <div class="tabla">
        <table class="" style="text-align:center;">
            <thead class="table_header">
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Orden N°</th>
                    <th scope="col">Total</th>
                    <th scope="col">Ver Detalle</th>
                </tr>
            </thead>
            <tbody>
                {{#each ordenes}}
                    <tr>
                        <td>{{timestamp}}</td>
                        <th scope="row">Orden {{@index}}</th>
                        <td>{{total}}</td>
                        <td><a href="/ordenes/{{id}}"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>